@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    top: 0;
    padding: 10px;
    height: 9vh;
    width: 100vw;
    background-color: white;
    position: fixed;
}
.logo img{
    margin-top: -3.5vh;
    border-radius: 360px;
    height: 45px;
    margin-left: 7vh;
}
.navbar #links{
    display: inline;
}
.navbar #links a{
    margin-left: 12vw;
    text-decoration: none;
    color: #453735;
    font-family: Poetsen One;
    font-size: 16px;
}
.navbar #lenks a{
    padding: 7px;
    float: right;
    margin-right: 6px;
    text-decoration: none;
    margin-top: -.010vh;
    color: #A6A6A6;
    font-family: Poetsen One;
    font-size: 15px;
}
.navbar #leynks a{
    padding: 8px;
    float: right;
    margin-right: 30px;
    text-decoration: none;
    margin-top: -.16vh;
    color: #453735;
    font-family: Poetsen One;
    font-size: 14px;
    border-radius: 10px;
    background-color: #A6A6A6;

}
.banner{
    padding: 1.5vw;
    background-color: #F1EDE3;
    height: 93.6vh;
    width: 97vw;
    background-position: center;
    background-repeat: no-repeat;
}
.banner h1{
font-family: Open Sans;
color: #453735;
margin-top: 5em;
margin-left: 1.8em;
}
.bot{
font-family: Open Sans;
margin-top: -1.4vh;
color: #453735;
margin-left: 2.2em;
font-size: 23px;
}
.logo2{
    margin-top: 5vh;
    border-radius: 360px;
    height: 45px;
    margin-left: 8vh;
}
.group{
    margin-left: 9vw;
    margin-top: -6vh;
    font-family: Open Sans;
    font-size: 13px;
}
.det{
    margin-left: 4vw;
    margin-top: 5vh;
    font-family: Open Sans;
    font-size: 13px;
}
.big{
    margin-left: 47em;
    margin-top: -70em;
    width: 30vw;
    height: 300px;
    border-radius: 20px;
}
